* text=auto

*.cs text diff=csharp
*.shader text
*.cginc text
*.hlsl text
*.compute text
*.unity text
*.prefab text
*.asset text
*.mat text
*.anim text
*.controller text
*.meta text
*.json text
*.asmdef text

*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.mp3 binary
*.wav binary
*.ogg binary
*.mp4 binary
*.mov binary
*.dll binary

